<% provide(:title, "タグ「#{@tag_name}」を持つミカン一覧") %>
      <div class="row-fluid marketing">
        <div class="span6">
          <h4>タグ <span class="label label-success mikanz-tag"><%= @tag_name %></span> を持つミカン一覧</h4>
          <hr>
          <div class="swatches-col">
            <% @mikanzs.each do |mikanz| %>
              <%= link_to(mikanz, class: 'pallete-item') do %>
                <dl class="mikanz-list-palette palette-nephritis mikanz-list-title">
                  <dt><%= fa_icon "heart" %> x <%= mikanz.waterings.size %></dt>
                </dl>
                <dl class="mikanz-list-palette palette-sun-flower mikanz-list-content">
                  <dt><span class="cut"><%= image_tag mikanz.mikanz_image.url || '/images/noimage.jpg', class: 'cut_image' %></span></dt>
                  <dd><div class="mikanz-list-title-icon"><b>by</b> <%= image_tag mikanz.owner.image_url, width: 25, height: 25 %></div></dd>
                </dl>
              <% end %>
            <% end %>
          </div>
          <div class="kaminari-pagination"><%= paginate @mikanzs, :theme => 'twitter-bootstrap-3' %></div>
        </div>
      </div>